/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* General styles */
*{
    box-sizing: border-box;
}
:root {
    --box-shadow: 0 1px 3px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.2);
}
body{
    background-color: #1D2521;
    color: white;
    font-family: 'Playfair Display', serif;
}

/* Footer */
.footer{
    text-align: center;
    color: white;
}

/* App Container */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 75vh;
}

/* Forms */
.formControl{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.fieldsDiv{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50px;
}
.fields{
    width: 100%;
}
.error{
    color: red;
}
.divG{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    color: black;
}
.fieldsG{
    display: flex;
    justify-content: space-evenly;
}
.btnDiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.buttonN{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}
@media(max-width: 500px){
    .formControl{
        width: 250px;
    }
} 